<h1>Listing users</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Age</th>
    <th>City</th>
    <th>Province</th>
    <th>Job</th>
    <th>Income</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstName %></td>
    <td><%= user.lastName %></td>
    <td><%= user.email %></td>
    <td><%= user.gender %></td>
    <td><%= user.age %></td>
    <td><%= user.city %></td>
    <td><%= user.province %></td>
    <td><%= user.job %></td>
    <td><%= user.income %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    <td><%= link_to 'Compare', 'users/' + user.id.to_s + '/compare' %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
