<h1>Listing donations</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Money</th>
    <th>User</th>
    <th>Organization</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.time %></td>
    <td><%= donation.money %></td>
    <td><%= donation.user_id %></td>
    <td><%= donation.organization_id %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donation', new_donation_path %>
<%= link_to 'User Dashboard', users_path %>
